<div [formGroup]="metricsForm" class="pipeline-item-container">
  <div class="pipeline-item-container__spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div [formArrayName]="formArrayName">
    <div class="metrics-form__div" [formGroupName]="groupName">
      <div class="metrics-form__header">
        <!-- <label class="metrics-form__label">pipeline</label> -->
        <button mat-raised-button (click)="removePipeline.emit(groupName)" *ngIf="pipelineForm.value.length > 1">
          Remove this pipeline
        </button>
      </div>
      <app-warning-message
        *ngIf="warningMessagesForImport.length"
        [warningMessagesForImport]="warningMessagesForImport"
      >
      </app-warning-message>
      <div class="metrics-form__error" *ngIf="isDuplicated">This pipeline is the same as another one!</div>
      <mat-form-field class="metrics-form__input--full-width metrics-form__input--large" *ngIf="hasOrg">
        <mat-label>Organization</mat-label>
        <mat-select
          [(value)]="selectedOrgId"
          (selectionChange)="onOrgChange(selectedOrgId)"
          formControlName="orgId"
          [errorStateMatcher]="matcher"
          required
        >
          <mat-option *ngFor="let org of allOrg" [value]="org.orgId">
            {{ org.orgName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pipelineForm.controls[groupName]?.get('orgId').hasError('required')">
          Organization is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="metrics-form__input--full-width metrics-form__input--large">
        <mat-label>Pipeline Name</mat-label>
        <mat-select
          [(value)]="selectedPipelineId"
          (selectionChange)="onPipelineChange(selectedPipelineId, false)"
          formControlName="pipelineId"
          [errorStateMatcher]="matcher"
          required
        >
          <mat-option *ngFor="let pipeline of filterPipelines" [value]="pipeline.id">
            {{ pipeline.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pipelineForm.controls[groupName]?.get('pipelineId').hasError('required')">
          Pipeline name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="metrics-form__input--full-width metrics-form__input--large">
        <mat-label>Steps</mat-label>
        <mat-select
          formControlName="step"
          [(value)]="selectedStep"
          (selectionChange)="onStepChange(selectedStep)"
          [errorStateMatcher]="matcher"
          required
        >
          <mat-option *ngFor="let step of filterSteps" [value]="step.originStep">
            <img
              src="{{ step.emoji }}"
              class="metrics-form__emojiImage"
              alt="{{ step.emoji }}"
              onerror='this.style.display = "none"'
            />
            {{ step.stepName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pipelineForm.controls[groupName]?.get('step').hasError('required')">
          <span *ngIf="isEmptyStepsAfterFetch">
            There is no step during this period for this pipeline! Please change the search time in the Config page!
          </span>
          <span *ngIf="!isEmptyStepsAfterFetch"> Pipeline step is <strong>required</strong> </span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
