.reports-container {
  &__content {
    width: 95%;
  }

  &__content {
    width: 500px;
    margin: auto;
    margin-bottom: 32px;
  }

  table {
    margin-top: 16px;
    width: 100%;
  }

  ::ng-deep .mat-grid-tile .mat-figure {
    align-items: flex-start;
  }

  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }

  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  .spinner {
    margin: auto;
    margin-top: 15%;
  }

  &__message {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    &--error {
      font-size: 20px;
    }
  }

  &__buttons {
    padding: 0 16px;
    text-align: center;

    &--center {
      text-align: center;
    }
  }
}
