<div [formGroup]="metricsForm">
  <app-pipeline-item
    *ngFor="let control of pipelineForm.controls; let i = index"
    [metricsForm]="metricsForm"
    [formArrayName]="formArrayName"
    [rawData]="pipelines"
    [hasOrg]="hasOrg"
    [groupName]="i"
    [equalItems]="equalItems"
    [importPipeline]="importPipelines && importPipelines[i]"
    (removePipeline)="removePipeline($event)"
  ></app-pipeline-item>

  <button mat-raised-button class="pipeline-add-btn" color="primary" (click)="addPipeline(null)">
    Add another pipeline
  </button>
</div>
