<h3>Collection Date</h3>

<form [formGroup]="configForm">
  <mat-list role="list" cols="4" rowHeight="100px" class="radio-list">
    <mat-radio-group formControlName="considerHoliday">
      <mat-list-item role="listitem" *ngFor="let item of radios">
        <mat-radio-button [value]="item.value" color="primary">
          {{ item.description }}
        </mat-radio-button>
      </mat-list-item>
    </mat-radio-group>
  </mat-list>

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [rowspan]="1" [colspan]="2">
      <mat-form-field>
        <mat-label>From: </mat-label>
        <input
          required
          matInput
          [matDatepicker]="pickerStart"
          placeholder="Input or Select a Date"
          (focus)="handleStartInputFocus()"
          (dateInput)="handleStartDateInput($event)"
          formControlName="startDate"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart [opened]="isStartPickerOpen" (closed)="handleStartPickerClose()"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="2">
      <mat-form-field>
        <mat-label>To: </mat-label>
        <input
          matInput
          required
          placeholder="Input or Select a Date"
          [matDatepicker]="pickerEnd"
          (focus)="handleEndInputFocus()"
          [min]="minEndDate"
          formControlName="endDate"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd [opened]="isEndPickerOpen" (closed)="handleEndPickerClose()"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
