<div [formGroup]="metricsForm">
  <app-warning-message *ngIf="warningMessagesForImport.length" [warningMessagesForImport]="warningMessagesForImport">
  </app-warning-message>
  <mat-form-field class="metrics-form__input--full-width metrics-form__input--large">
    <mat-label>Distinguish By</mat-label>
    <mat-select multiple [formControlName]="classificationsControlName">
      <mat-option #allSelected [value]="distinguishAll" (click)="toggleAllSelection()">
        {{ distinguishAll }}
      </mat-option>
      <mat-option *ngFor="let classification of classifications" [value]="classification.key" (click)="togglePerOne()">
        {{ classification.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
