<div [formGroup]="metricsForm">
  <mat-form-field class="metrics-form__input--full-width metrics-form__input--large">
    <mat-label>Included Crews</mat-label>
    <mat-select multiple [formControlName]="crewsControlName" [errorStateMatcher]="matcher" required>
      <mat-option #allSelected (click)="toggleAllSelection()" [value]="crewAllConstant">{{
        crewAllConstant
      }}</mat-option>
      <mat-option *ngFor="let crew of boardCrews" [value]="crew" (click)="togglePerOne()">
        {{ crew }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="metricsForm.get(crewsControlName).hasError('required')">
      Included Crews is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
