<form class="config-form" [formGroup]="configForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="config-form__input--full-width config-form__input--large">
    <mat-label>Project Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="input"
      formControlName="projectName"
      [errorStateMatcher]="matcher"
      autocomplete="off"
      required
    />
    <mat-error *ngIf="configForm.get('projectName').hasError('required')">
      Project Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <app-collection [configForm]="configForm" [importData]="importData"></app-collection>

  <mat-form-field class="config-form__input--full-width config-form__input--large">
    <mat-label>Required Data</mat-label>
    <mat-select
      multiple
      formControlName="metrics"
      (selectionChange)="selectionChange($event)"
      [errorStateMatcher]="matcher"
      required
    >
      <mat-option *ngFor="let metric of metrics" [value]="metric.name">
        {{ metric.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="configForm.get('metrics').hasError('required')"> Metrics is <strong>required</strong> </mat-error>
  </mat-form-field>

  <app-metric-source
    *ngFor="let config of filterMetricsConfig | keyvalue; trackBy: trackByItems"
    [configForm]="configForm"
    [importData]="importData"
    [groupName]="config.key"
    [sources]="config.value"
    (verify)="onVerify($event)"
  ></app-metric-source>

  <div class="config-form__button">
    <button
      mat-raised-button
      matTooltip="Note: When you save the settings, some tokens might be saved, please save it safely (e.g. by 1 password, vault), Rotate the tokens regularly. (e.g. every 3 months)"
      matTooltipPosition="right"
      color="warn"
      type="button"
      (click)="saveConfig()"
    >
      Save
    </button>
    <div>
      <button mat-raised-button type="button" (click)="backToHome()">Back</button>
      <button mat-raised-button matStepperNext color="primary" type="submit" [disabled]="!configForm.valid">
        Next
      </button>
    </div>
  </div>
</form>
