.config-form {
  max-width: 800px;
  width: 100%;
  margin: auto;

  &__input--full-width {
    width: 500px;
  }

  &__button {
    display: flex;
    justify-content: space-between;

    button {
      margin: 0 8px;
    }
  }
}
