<div [formGroup]="metricsForm">
  <div [formGroupName]="cycleTimeGroupName">
    <app-warning-message *ngIf="warningMessagesForImport.length" [warningMessagesForImport]="warningMessagesForImport">
    </app-warning-message>
    <div *ngIf="!isValid" class="cycle-time-error">Should only select <strong>One</strong> "Done"</div>
    <app-cycle-item
      *ngFor="let cycleItem of jiraColumnsForm.controls; let i = index"
      [metricsForm]="metricsForm"
      [groupName]="i + ''"
      [cycleItem]="cycleItem"
      [cycleTimeGroupName]="cycleTimeGroupName"
      (selectionChange)="onSelectionChange()"
    >
    </app-cycle-item>
    <mat-checkbox
      [formControlName]="treatFlagCardAsBlockControlName"
      checked="treatFlagCardAsBlock"
      color="primary"
      (click)="toogleFlagCardAsBlock()"
    >
      Consider the "Flag" as "Block"
    </mat-checkbox>
  </div>
</div>
