<div class="cycle-time__done" [formGroup]="metricsForm" *ngIf="doneColumns && doneColumns.length > 1">
  <app-divider [text]="'Real Done'"></app-divider>
  <app-warning-message *ngIf="warningMessagesForImport.length" [warningMessagesForImport]="warningMessagesForImport">
  </app-warning-message>
  <mat-form-field class="metrics-form__input--full-width metrics-form__input--large">
    <mat-label>Consider as Done</mat-label>
    <mat-select required multiple [formControlName]="doneColumnsControlName" [errorStateMatcher]="matcher">
      <mat-option *ngFor="let item of doneColumns" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="metricsForm.get(doneColumnsControlName).hasError('required')">
      Must select which you want to <strong>consider as Done</strong>
    </mat-error>
  </mat-form-field>
</div>
