.metrics-form {
  max-width: 800px;
  width: 100%;
  margin: auto;

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__next {
    margin-left: 20px;
  }
}
