.metrics-container {
  &__content {
    margin-top: 16px;
  }

  .mat-form-field {
    margin: 0 16px;
  }

  .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    display: inline-block;
    position: relative;
    margin-right: 8px;
  }

  .verified {
    background-color: green;
  }
}

.error-snackbar {
  background-color: red;
  color: white;
}

.metric-source-container {
  position: relative;
  margin: 16px 0;

  &__header {
    // padding-top: 16px;
    // background-color: #f7f6f6;
  }

  &__content {
    margin: 16px 16px 0;
  }

  &__actions {
    text-align: right;
  }

  &__spinner {
    position: absolute;
    background-color: #8080804d;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.metric-source-content {
  &__field {
    width: 280px;
    margin-right: 16px;
    margin-bottom: 12px;
  }
}

.verified {
  color: green;
}
