<mat-card class="metric-source-container" [formGroup]="configForm">
  <div class="metric-source-container__spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-header class="metric-source-container__header">
    <mat-card-title>{{ groupName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="metric-source-container__content" [formGroupName]="groupName">
    <mat-form-field class="metric-source-content__field">
      <mat-label>{{ groupName }}</mat-label>
      <mat-select required [(value)]="selected" formControlName="type" (selectionChange)="selectionChange()">
        <mat-option *ngFor="let source of sources | keyvalue" [value]="source.key">
          {{ source.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="metric-source-content__field" *ngFor="let source of sources[selected] | keyvalue">
      <mat-label>{{ source.key }}</mat-label>
      <input
        matInput
        [type]="source.key == 'token' ? 'password' : 'text'"
        placeholder="input"
        [formControlName]="source.key"
        autocomplete="off"
        [errorStateMatcher]="matcher"
        required
      />
      <mat-error *ngIf="configForm.controls[groupName].get(source.key).hasError('required')">
        {{ source.key }} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="metric-source-container__actions">
    <button
      mat-button
      [class.verified]="formGroup.get('verifyToken').value === successVerifyStatus"
      type="button"
      color="primary"
      (click)="onVerify()"
      [disabled]="!formGroup.valid || !isValidDate || loading"
    >
      {{ configForm.controls[groupName].get('verifyToken').value }}
    </button>
    <button
      mat-button
      type="button"
      color="warn"
      (click)="reset()"
      *ngIf="formGroup.get('verifyToken').value === successVerifyStatus"
    >
      Reset
    </button>
  </mat-card-actions>
</mat-card>

<!-- <div class="metrics-container" [formGroup]="configForm">
  <app-divider [text]="groupName"></app-divider>
  <div class="metrics-container__content" [formGroupName]="groupName">
    <mat-form-field>
      <mat-label>{{ groupName }}</mat-label>
      <mat-select required [(value)]="selected" formControlName="type" (selectionChange)="selectionChange(selected)">
        <mat-option *ngFor="let source of sources | keyvalue" [value]="source.key">
          {{ source.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngFor="let source of sources[selected] | keyvalue">
      <mat-label>{{ source.key }}</mat-label>
      <input matInput type="text" placeholder="input" [formControlName]="source.key" autocomplete="off" required />
      <mat-error *ngIf="configForm.controls[groupName].get(source.key).hasError('required')">
        {{ source.key }} is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <div class="spinner-container" *ngIf="loading">
        <mat-spinner diameter="24"></mat-spinner>
      </div>
      <button
        mat-raised-button
        [class.verified]="formGroup.get('verifyToken').value === successVerifyStatus"
        type="button"
        color="primary"
        (click)="onVerify()"
        [disabled]="!formGroup.valid || loading"
      >
        {{ configForm.controls[groupName].get('verifyToken').value }}
      </button>
    </div>

    <button
      mat-raised-button
      type="button"
      color="warn"
      (click)="reset()"
      *ngIf="formGroup.get('verifyToken').value === successVerifyStatus"
    >
      Reset
    </button>
  </div>
</div> -->
