<mat-toolbar color="primary">
  <span>HeartBeat</span>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="fit">
  <mat-card>
    HeartBeat is a tool for tracking project delivery metrics that can help you get a better understanding of delivery
    performance. This product allows you easily get all aspects of source data faster and more accurate to analyze team
    delivery performance which enables delivery teams and team leaders focusing on driving continuous improvement and
    enhancing team productivity and efficiency.
  </mat-card>
  <mat-grid-tile>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="uploader.click()">Import Project From File</button>
      <input hidden type="file" accept=".json" #uploader (change)="importProject($event)" />
      <button mat-raised-button color="primary" (click)="createNewProject()">Create A New Project</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
