<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>HeartBeat</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="go to the home page" (click)="navigateToHome()">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-horizontal-stepper>
  <mat-step label="Config">
    <app-configuration (stepOneSubmit)="onStepOneSubmit($event)"></app-configuration>
  </mat-step>
  <mat-step label="Metrics">
    <app-metrics
      [metricsSource]="metricsSource"
      [metricsParams]="reportsParams?.metrics"
      [configFormValue]="configFormValue"
      (stepTwoSubmit)="onStepTwoSubmit($event)"
    ></app-metrics>
  </mat-step>
  <mat-step label="Export">
    <app-reports [params]="finalParams" [metricsSource]="metricsSource"></app-reports>
  </mat-step>
</mat-horizontal-stepper>
