<div [formGroup]="metricsForm">
  <div [formGroupName]="cycleTimeGroupName">
    <div [formArrayName]="jiraColumnsControlName">
      <div class="metrics-form__div" [formGroupName]="groupName">
        <mat-form-field class="metrics-form__input--full-width metrics-form__input--large" required>
          <mat-label>{{ columnItemKey }}</mat-label>
          <mat-select formControlName="{{ columnItemKey }}" (selectionChange)="onSelectionChange()">
            <mat-option *ngFor="let item of cycleTimeList" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="jiraColumnsControl.controls[groupName].get(columnItemKey).hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
