.deployment-frequency-container {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 32px;

  table {
    margin-top: 16px;
    width: 100%;
  }

  .detail-row {
    height: 0;
  }

  .detail-container {
    overflow: hidden;
    display: flex;
  }
}

.emojiImage {
  vertical-align: sub;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
