.classification-container {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 32px;

  table {
    margin-top: 16px;
    width: 100%;
  }

  // In some project, the subtitle is so long, use 'word-break: break-all;' to make it break to next line
  .mat-column-subtitle {
    word-break: break-all;
  }
  .mat-column-value {
    padding-left: 10px;
  }
}
