#root,
html,
body,
.app {
  width: 100%;
  height: fit-content;
  min-width: 25rem;
  font-family:
    Roboto,
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Arial;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}
