<form class="metrics-form" [formGroup]="metricsForm">
  <section
    class="metrics-form__crews"
    [formGroup]="metricsForm"
    *ngIf="displayItems.includes('crews') && metricsSource?.board.data.users"
  >
    <app-divider [text]="'Crews Settings'"></app-divider>
    <app-crews
      [metricsForm]="metricsForm"
      [boardCrews]="metricsSource?.board.data.users"
      [importCrews]="importConfig && importConfig[crewsControlName]"
    ></app-crews>
  </section>

  <section
    class="metrics-form__columns"
    *ngIf="displayItems.includes('cycleTime') && metricsSource?.board.data.jiraColumns"
  >
    <app-divider [text]="'Cycle Time Settings'"></app-divider>
    <app-cycle-time
      [metricsForm]="metricsForm"
      [cycleTimeData]="metricsSource?.board.data.jiraColumns"
      [importCycleTime]="importConfig && importConfig[cycleTimeControlName]"
    ></app-cycle-time>
  </section>

  <section class="metrics-form__columns" *ngIf="metricsSource?.board && metricsSource.board.data.jiraColumns">
    <app-done-columns
      [metricsForm]="metricsForm"
      [cycleTimeData]="metricsSource?.board.data.jiraColumns"
      [importDoneStatus]="importConfig && importConfig[doneStatusControlName]"
    >
    </app-done-columns>
  </section>

  <section
    class="metrics-form__columns"
    *ngIf="displayItems.includes('classification') && metricsSource?.board.data.targetFields"
  >
    <app-divider [text]="'Classification Settings'"></app-divider>
    <app-classification
      [metricsForm]="metricsForm"
      [classifications]="metricsSource?.board.data.targetFields"
      [importClassificationKeys]="importConfig && importConfig[classificationsControlName]"
    ></app-classification>
  </section>

  <section class="metrics-form__deployment" *ngIf="displayItems.includes('deployment') && metricsSource?.pipelineTool">
    <app-divider [text]="'Deployment Frequency Settings'"></app-divider>
    <app-metric-pipeline
      [metricsForm]="metricsForm"
      [formArrayName]="deploymentControlName"
      [pipelines]="metricsSource?.pipelineTool.data"
      [importPipelines]="importConfig && importConfig[deploymentControlName]"
    >
    </app-metric-pipeline>
  </section>

  <section class="metrics-form__deployment" *ngIf="displayItems.includes('leadTime') && metricsSource?.sourceControl">
    <app-divider [text]="'Lead Time for Changes'"></app-divider>
    <app-metric-pipeline
      [metricsForm]="metricsForm"
      [formArrayName]="leadTimeControlName"
      [pipelines]="metricsSource?.pipelineTool.data"
      [importPipelines]="importConfig && importConfig[leadTimeControlName]"
    >
    </app-metric-pipeline>
  </section>

  <footer class="metrics-form__footer" *ngIf="displayItems.length > 0">
    <button
      mat-raised-button
      matTooltip="Note: When you save the settings, some tokens might be saved, please save it safely (e.g. by 1 password, vault), Rotate the tokens regularly. (e.g. every 3 months)"
      matTooltipPosition="right"
      color="warn"
      type="button"
      (click)="saveConfig()"
    >
      Save
    </button>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button
        class="metrics-form__next"
        mat-raised-button
        matStepperNext
        (click)="onSubmit()"
        [disabled]="!metricsForm.valid"
      >
        Next
      </button>
    </div>
  </footer>
</form>
